.loggedin-wrapper {
  display: grid;
  grid-template-columns: 300px repeat(3, 1fr);
  grid-gap: 0px;
  grid-template-rows: auto repeat(4, 1fr);
  grid-template-areas:
    "h  h  h  h"
    "s  b  b  b"
    "s  b  b  b"
    "s  b  b  b"
    "s  b  b  b";
}

.header {
  grid-area: h;
  background-color: blue;
}

.body {
  grid-area: b;
  background-color: gray;
}

.sidebar {
  grid-area: s;
  background-color: green;
}
