.ui.form {
  font-family: "Nunito", sans-serif;
  font-weight: 400px;
}

.ui.button {
  border: 2px solid #000000;
  color: #000000;
  background-color: transparent;
}

.ui.message {
  font-family: "Nunito", sans-serif;
}

.ui.dropdown {
  font-family: "Nunito", sans-serif;
}

::placeholder {
  font-family: "Nunito", sans-serif !important;
  font-weight: 400px !important;
  color: #000000 !important;
}

#loginSignupForm {
  height: 70%;
  text-align: center;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#cornucopiaIcon {
  margin-left: 10px;
}
